{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
    <div class="form-row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post" action="{% url 'login' %}" class="form-horizontal">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" value="login" class="btn btn-success btn-md "/>
                <input type="hidden" name="next" value="{{ next }}"/>
                {# Assumes you setup the password_reset view in your URLconf #}
                <a href="{% url 'password_reset' %}">Lost password?</a>
            </form>
        </div>
    </div>
{% endblock %}