{% extends 'base.html' %}
{% block content %}
    <center>
        <form method="post">
            {% csrf_token %}
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            <p>Enter your Email.</p>
            <p>{{ form.email }}</p>
            <input type="submit" class='btn btn-default btn-lg' value="Reset password"/>
        </form>
    </center>

{% endblock %}