{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form method="post" action="{% url 'muksapp:register'%}">
                {% csrf_token %}
                <div id="error-message" class="alert alert-danger" style="display: none">
                    <p class="text-danger">username is already taken</p>
                </div>
                {% bootstrap_form form %}
                <br>
                <input type="submit" value="Create Account" class="btn btn-success"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>
    </div>

{% endblock %}
