{% extends "rest_framework/base.html" %}

{% block title %}Muksgraphy {% endblock %}
{% block branding %}
    <span>
      <a href="#" class="navbar-brand">
          Muksgraphy
      </a>
    </span>
{% endblock %}