{% extends 'base.html' %}
{% block content %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="{% url 'muksapp:index' %}">Home</a></li>
                    <li class="active">Shopping Cart</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed">
                    <thead>
                    <tr class="cart_menu">
                        <td class="image">Item</td>
                        <td class="title">Title</td>
                        <td class="price">Price</td>
                        <td class="total">Total</td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cart_item in cart_items %}
                        <tr>

                            <td class="cart_product">
                                <a href=""><img src="{{ cart_item.product.image.url }}"
                                                style="height: 100px; width: 100px" alt=""></a>
                            </td>
                            <td class="cart_price">
                                <h4><a href="">{{ cart_item.product.title }}</a></h4>

                            </td>
                            <td class="cart_price">
                                <p>{{ cart_item.product.price }}</p>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">{{ cart_item.total }}</p>
                            </td>
                            <td class="cart_delete">
                                <a class="cart_quantity_delete" href="{% url 'muksapp:remove_item' cart_item.id %}"><i
                                        class="fa fa-times"></i></a>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    <section id="do_action">
        <div class="container">
            <div class="heading">
                <h3>What would you like to do next?</h3>
                <p>Choose if you have a discount code or reward points you want to use or would like to estimate your
                    delivery cost.</p>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="chose_area">
                        <ul class="user_option">
                            <li>
                                <input type="checkbox">
                                <label>Use Coupon Code</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Use Gift Voucher</label>
                            </li>
                            <li>
                                <input type="checkbox">
                                <label>Estimate Shipping & Taxes</label>
                            </li>
                        </ul>
                        <ul class="user_info">
                            <li class="single_field">
                                <label>Country:</label>
                                <select>
                                    <option>United States</option>
                                    <option>Bangladesh</option>
                                    <option>UK</option>
                                    <option>India</option>
                                    <option>Pakistan</option>
                                    <option>Ucrane</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field">
                                <label>Region / State:</label>
                                <select>
                                    <option>Select</option>
                                    <option>Dhaka</option>
                                    <option>London</option>
                                    <option>Dillih</option>
                                    <option>Lahore</option>
                                    <option>Alaska</option>
                                    <option>Canada</option>
                                    <option>Dubai</option>
                                </select>

                            </li>
                            <li class="single_field zip-field">
                                <label>Zip Code:</label>
                                <input type="text">
                            </li>
                        </ul>
                        <a class="btn btn-default update" href="">Get Quotes</a>
                        <a class="btn btn-default check_out" href="">Continue</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="total_area">
                        <ul>
                            <li>Cart Sub Total <span>Rs. {{ total_amount }}</span></li>
                            <li>Tax <span>13%</span></li>
                            <li>Discount <span>10%</span></li>
                            <li>Total <span>Rs. {{ grand_total }}</span></li>
                        </ul>
                        <form method="post" action="{% url 'muksapp:checkout' %}">
                            {% csrf_token %}
{#                            <input type="hidden" value="{{ request.user.username }}" name="user"/>#}
                            <input type="hidden" value="{{ grand_total }}" name="totalprice"/>
                            <div class="form-group col-md-12">
                                <input type="submit" name="Checkout" class="btn btn-primary pull-right"
                                       value="Checkout">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section><!--/#do_action-->
{% endblock %}