{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
    <section id="slider"><!--slider-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            {% for slider in sliders %}
                                <li data-target="#slider-carousel" data-slide-to="{{ slider.indexes }}"
                                    class="active"></li>
                            {% endfor %}
                        </ol>

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="col-sm-6">
                                    <h1>Muksgraphy</h1>
                                    <h2>Images for life</h2>
                                    <p>Get the images that makes your life beautiful. </p>
                                </div>
                                <div class="col-sm-6">

                                    <img src="{% static 'images/slide1.jpeg' %}"
                                         style="height: 600px;width: 500px;" class="girl img-responsive"
                                         alt=""/>


                                </div>
                            </div>
                            {% for slider in sliders %}
                                <div class="item">
                                    <div class="col-sm-6">
                                        <h1>{{ slider.brand }}</h1>
                                        <h2>{{ slider.title }}</h2>
                                        <p>{{ slider.quotes }} </p>
                                    </div>
                                    <div class="col-sm-6">

                                        {% thumbnail slider.image "400x600" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="" class="girl img-responsive">
                                        {% endthumbnail %}

                                    </div>

                                </div>
                            {% endfor %}


                        </div>

                        <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section><!--/slider-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        {% for category in categories %}
                                            <a href="{% url 'muksapp:category' category.slug %}">
                                            {{ category.title }}<br/>
                                        {% endfor %}
                                        </a></h4>

                                </div>
                            </div>
                        </div><!--/category-products-->


                        <div class="price-range"><!--price-range-->
                            <h2>Price Range</h2>
                            <div class="well text-center">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600"
                                       data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br/>
                                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
                            </div>
                        </div><!--/price-range-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <h2 class="title text-center">Features Items</h2>
                    <div class="features_items">
                        {% for product in posts %}<!--features_items-->
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <a class="productinfo text-center"
                                           href="{% url 'muksapp:product_detail' product.slug %}">
                                            {#                                            <img src="{{ product.image.url }}" alt=""/>#}
                                            {% thumbnail product.image "320x300" crop="center" as pro %}
                                                <img src="{{ pro.url }}" alt="">
                                            {% endthumbnail %}
                                            <h2>Rs.{{ product.price }}</h2>
                                            <p>{{ product.title }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <center>
                        <div class="pagination" style="alignment: center">
                            {% if posts.has_other_pages %}
                                <ul class="pagination">
                                    {% if posts.has_previous %}
                                        <li><a href="?page={{ posts.previous_page_number }}">Prev</a></li>
                                    {% else %}
                                        <li class="disabled"><span>Prev</span></li>
                                    {% endif %}
                                    {% for i in posts.paginator.page_range %}
                                        {% if posts.number == i %}
                                            <li class="active"><span>{{ i }} <span
                                                    class="sr-only">(current)</span></span>
                                            </li>
                                        {% else %}
                                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                        <li><a href="?page={{ posts.next_page_number }}">Next;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>Next</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                    </center>

                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">recommended items</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    {% for recommendation1 in recommendations1 %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% thumbnail recommendation1.image "100x100" crop="center" as im %}
                                                            <a href="{% url 'muksapp:product_detail' recommendation1.slug %}">
                                                                <img src="{{ im.url }}" alt="">
                                                            </a>
                                                        {% endthumbnail %}
                                                        <h2>{{ recommendation1.price }}</h2>
                                                        <p>{{ recommendation1.title }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="item">
                                    {% for recommendation in recommendations2 %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% thumbnail recommendation.image "100x100" crop="center" as im %}
                                                            <a href="{% url 'muksapp:product_detail' recommendation.slug %}">
                                                                <img src="{{ im.url }}" alt="">
                                                            </a>
                                                        {% endthumbnail %}
                                                        <h2>{{ recommendation.price }}</h2>
                                                        <p>{{ recommendation.title }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->
                </div>
            </div>
        </div>
    </section>

{% endblock %}