{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Category</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        {% for category in categories %}
                                            <a href="{% url 'muksapp:category' category.slug %}">
                                            {{ category.title }}<br/>
                                        {% endfor %}
                                        </a></h4>
                                </div>
                            </div>

                        </div><!--/category-products-->

                        <div class="price-range"><!--price-range-->
                            <h2>Price Range</h2>
                            <div class="well">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600"
                                       data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br/>
                                <b>$ 0</b> <b class="pull-right">$ 600</b>
                            </div>
                        </div><!--/price-range-->

                        <div class="shipping text-center"><!--shipping-->
                            <img src="images/home/shipping.jpg" alt=""/>
                        </div><!--/shipping-->

                    </div>
                </div>

                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">

                            <div class="view-product">
                                {#                                <img src="{{ products.image.url }}" alt=""/>#}

                                {% thumbnail products.image "270x360" crop="center" as im %}

                                    <img src="{{ im.url }}" alt="">

                                {% endthumbnail %}
                                <h3>{{ products.title }}</h3>
                            </div>

                            <div id="similar-product" class="carousel slide" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        {% for sm1 in similar1 %}
                                            {% thumbnail sm1.image "50x50" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="">
                                            {% endthumbnail %}
                                        {% endfor %}
                                    </div>
                                    <div class="item">
                                        {% for sm2 in similar2 %}
                                            {% thumbnail sm2.image "50x50" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="">
                                            {% endthumbnail %}
                                        {% endfor %}
                                    </div>


                                </div>

                                <!-- Controls -->
                                <a class="left item-control" href="#similar-product" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="right item-control" href="#similar-product" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="{{ products.image.url }}" class="newarrival" alt=""
                                     style="width: 50px;height: 50px"/>
                                <h2>{{ products.title }}</h2>

                                <img src="{{ products.image.url }}" class="newarrival" alt=""
                                     style="width: 50px;height: 50px"/>
                                <span>
									<span>Rs. {{ products.price }}</span>
                                    <form action="{% url 'muksapp:cart' %}" method="post">
                                         {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ products.id }}">
									<button class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
                                    </form>
								</span>
                                <p><b>Availability:</b> In Stock</p>
                                <p><b>Condition:</b> New</p>
                                <p><b>Brand:</b> Muksgraphy</p>
                                <a href=""><img src="{{ products.image.url }}" class="share img-responsive"
                                                alt="" style="width: 50px ;height: 50px"/></a>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="reviews">
                                <div class="col-sm-12">
                                    {% for review in products.productreview_set.all %}
                                        <ul>
                                            <li><a href=""><i class="fa fa-user"></i>{{ review.user.username }}</a></li>
                                            <li><a href=""><i class="fa fa-clock-o"></i>{{ review.time }}</a></li>
                                            <li><a href=""><i class="fa fa-calendar-o"></i>{{ review.date }}</a></li>
                                            <li>{% for i in review.rating_range %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}</li>
                                        </ul>
                                        <p>{{ review.comment }}</p>
                                    {% endfor %}

                                    {% if request.user.is_authenticated %}
                                        <p><b>Write Your Review</b></p>
                                        <form action="{% url 'muksapp:product_detail' products.slug %}" method="post">
                                            {% csrf_token %}
                                            <textarea name="comment"></textarea>
                                            <div class="form-group">
                                                <div class=" fa fa-ratings">
                                                    <strong class="text-uppercase">Your Rating: </strong>
                                                    <div class="star">
                                                        <input type="radio" id="star1" name="rating"
                                                               value="1"/><label
                                                            for="star1"></label>
                                                        <input type="radio" id="star2" name="rating"
                                                               value="2"/><label
                                                            for="star2"></label>
                                                        <input type="radio" id="star3" name="rating"
                                                               value="3"/><label
                                                            for="star3"></label>

                                                        <input type="radio" id="star4" name="rating"
                                                               value="4"/><label
                                                            for="star4"></label>
                                                        <input type="radio" id="star5" name="rating"
                                                               value="5"/><label
                                                            for="star5"></label>


                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-default pull-right">
                                                Submit
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div><!--/category-tab-->

                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">recommended items</h2>

                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    {% for recommendation1 in recommendations1 %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        {% thumbnail recommendation1.image "100x100" crop="center" as im %}
                                                            <a href="{% url 'muksapp:product_detail' recommendation1.slug %}">
                                                                <img src="{{ im.url }}" alt="">
                                                            </a>
                                                        {% endthumbnail %}
                                                        <h2>{{ recommendation1.price }}</h2>
                                                        <p>{{ recommendation1.title }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="item">
                                    {% for recommendation in recommendations2 %}
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">

                                                        {% thumbnail recommendation.image "100x100" crop="center" as im %}
                                                            <a href="{% url 'muksapp:product_detail' recommendation.slug %}">
                                                                <img src="{{ im.url }}" alt="">
                                                            </a>

                                                        {% endthumbnail %}
                                                        <h2>{{ recommendation.price }}</h2>
                                                        <p>{{ recommendation.title }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items--><!--/recommended_items-->

                </div>
            </div>
        </div>
    </section>

{% endblock %}