#header{
    height: 30px;
    background: gray;
    color: white;
}

 #branding h1{
    color:white;
}

a:link,
a:visited{
    color:green;

}
div.breadcrumbs{
    background: green;
    color: red;
} 

.module h2,.module caption, .inline-group h2{
    background: green;
}

